p{
	color: orange;
	text-align:center;
	font-family: 'VT323';
	font-size:30px;
	text-shadow: 0px 0px 5px orange;
}
a{
	text-decoration: none;
	color: orange;
	text-align:left;
	font-family: 'VT323';
	font-size:25px;
	text-shadow: 0px 0px 5px orange;
}
a:hover{
	color: white;
	text-shadow: 0px 0px 5px white;
}
body{
	background-color: black;
}
#logoDiv{
	height:100px;
	width:455px;
	margin:auto;
	cursor: pointer;
	cursor: hand;
}
#menuBar{
	width:450px;
	height:30px;
	margin:auto;
	font-size: 30px;
}

#softwareText{
	width: 100px;
	height: 30px;
	float: left;
	margin-right: 50px;
	color: orange;
	text-shadow: 0px 0px 5px orange;
}
#softwareText:hover {
	color:white;
	text-shadow: 0px 0px 5px white;
}
#writingText{
	width: 90px;
	height: 30px;
	float: left;
	margin-right: 50px;
	margin-left: 50px;
	color: orange;
	text-shadow: 0px 0px 5px orange;
}
#writingText:hover{
	color:white;
	text-shadow: 0px 0px 5px white;
}
#aboutText{
	width: 60px;
	height: 30px;
	float: left;
	margin-left: 50px;
	color: orange;
	text-shadow: 0px 0px 5px orange;
}
#aboutText:hover{
	color:white;
	text-shadow: 0px 0px 5px white;
}
#menuLine{
	border-color:orange;
	margin-top:70px;
}


#softwareWrapper{
	width:760px;
	margin:auto;
	margin-top:50px;
	height:auto;
	display:none;
}
#phantomImg{
	height:200px;
	width:200px;
}
#stellarImg{
	height:200px;
	width:200px;
}
#dimentionImg{
	height:200px;
	width:200px;
}
#softImg{
	width:200px;
	height:200px;
	float:left;
	margin-left:25px;
	margin-right:25px;
  border: 1px orange solid;
	position: relative;
}
#phantomInfo{
	-webkit-appearance: none;
	font-family: 'VT323';
	font-size:25px;
	text-shadow: 0px 0px 5px orange;
	color: orange; 
	background-color: rgba(0,0,0,0.7);
	width:195px;
	height: 30px;
	position: absolute;
	clip: rect(0px,200px,30px,0px);
  bottom:0px;
	padding-left: 5px;
	transition: height 0.5s, clip 0.5s, color 0.0s;
}
#phantomSelector:hover + #phantomInfo{
	height: 200px;
	clip: rect(0px,200px,200px,0px);
}
#phantomInfo:hover{
	height: 200px;
  clip: rect(0px,200px,200px,0px);
}
#phantomDescText{
	font-size:20px;
	color:orange;
	text-align: left;
	margin-top:1px;
}
#stellarInfo{
	-webkit-appearance: none;
	font-family: 'VT323';
	font-size:25px;
	text-shadow: 0px 0px 5px orange;
	color: orange; 
	background-color: rgba(0,0,0,0.7);
	width:195px;
	height: 30px;
	position: absolute;
	clip: rect(0px,200px,30px,0px);
  bottom:0px;
	padding-left: 5px;
	transition: height 0.5s, clip 0.5s, color 0.0s;
}
#stellarSelector:hover + #stellarInfo{
	height: 200px;
	clip: rect(0px,200px,200px,0px);
}
#stellarInfo:hover{
	height: 200px;
  clip: rect(0px,200px,200px,0px);
}
#stellarDescText{
	font-size:20px;
	color:orange;
	text-align: left;
	margin-top:1px;
}
#dimentionInfo{
	-webkit-appearance: none;
	font-family: 'VT323';
	font-size:25px;
	text-shadow: 0px 0px 5px orange;
	color: orange; 
	background-color: rgba(0,0,0,0.7);
	width:195px;
	height: 30px;
	position: absolute;
	clip: rect(0px,200px,30px,0px);
  bottom:0px;
	padding-left: 5px;
	transition: height 0.5s, clip 0.5s, color 0.0s;
}
#dimentionSelector:hover + #dimentionInfo{
	height: 200px;
	clip: rect(0px,200px,200px,0px);
}
#dimentionInfo:hover{
	height: 200px;
  clip: rect(0px,200px,200px,0px);
}
#dimentionDescText{
	font-size:20px;
	color:orange;
	text-align: left;
	margin-top:1px;
}

#writingWrapper{
	width:760px;
	margin:auto;
	margin-top:50px;
	height:auto;
	display:none;
}
#writingImg{
	width:200px;
	height:200px;
	float:left;
	margin-left:25px;
	margin-right:25px;
  border: 1px orange solid;
	position: relative;
}
#nozzleInfo{
	-webkit-appearance: none;
	font-family: 'VT323';
	font-size:25px;
	text-shadow: 0px 0px 5px orange;
	color: orange; 
	background-color: rgba(0,0,0,0.7);
	width:195px;
	height: 30px;
	position: absolute;
	clip: rect(0px,200px,30px,0px);
  bottom:0px;
	padding-left: 5px;
	transition: height 0.5s, clip 0.5s, color 0.0s;
}
#nozzleSelector:hover + #nozzleInfo{
	height: 200px;
	clip: rect(0px,200px,200px,0px);
}
#nozzleInfo:hover{
	height: 200px;
  clip: rect(0px,200px,200px,0px);
}
#aboutWrapper{
	width:700px;
	margin:auto;
	margin-top:50px;
	height:auto;
	display:none;
	border: 1px orange solid;
}
#personalBlurb{
	font-size:25px;
}