h1 {
	font-family: 'Cousine';
	color: #ffd633;
	text-align:center;
}
p{
	color: #ffd633;
	text-align:left;
	font-family: 'Cousine';
}
p.latterline{
	margin: 0.5cm 0cm 0cm 1cm;
}
a{
	color: #e6b800;
	text-align:center;
}